.transactions {
  width: 800px;
  margin: 100px auto;
  text-align: center;
  box-shadow: 10px 15px 5px rgba(86, 84, 84, 0.56);
}

.head th {
  background-color: rgb(159, 159, 210);
  padding: 10px;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.tbody td {
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  color: rgb(85, 79, 79);
  background-color: rgba(197, 195, 199, 0.566);
}
