.friends {
  width: 500px;
  /* background-color: blueviolet; */
  margin: 100px auto;
}

.list {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.item {
  list-style: none;
  width: 100%;
  background-color: rgba(197, 195, 199, 0.566);
  box-shadow: 10px 15px 5px rgba(86, 84, 84, 0.56);
  display: flex;
  gap: 40px;
  align-items: center;
  /* justify-content: space-between; */
  padding: 20px;
}

.avatar {
  width: 100px;
}

.name {
  font-size: 32px;
  font-weight: 600;
}

.status {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
